<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My HTMX Project</title>
    <link href="/styles/output.css" rel="stylesheet" />
    <script src="/node_modules/htmx.org/dist/htmx.min.js"></script>
  </head>
  <body class="bg-gray-100 text-center">
    <h1 class="text-4xl font-bold bg-red-200 text-blue-600 mt-10">Welcome to My HTMX Project</h1>
    <div id="content" class="mt-10">
      <button hx-get="/message" hx-target="#content" hx-swap="innerHTML" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700">Click Me</button>
    </div>
  </body>
</html>
